#work-sec{
    width: 100%;
    height: 100vh;
    padding: 14.2rem 11.3rem 10.2rem 19.5rem;
    position: relative;
}

#sub-wrk-sec{
    width: 100%;
    min-height: 100%;
    display: flex;
    #wrk-left{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translate(4rem,-2rem);
        h1{
            font-weight: 700;
            font-size: 9.5rem;
        }
        p{
            font-weight: 400;
            font-size: 3rem;
            padding-bottom: 5.2rem;
        }
        button{
            width: 23.3rem;
            border-radius: 50px;
            padding: 2rem 4rem;
            background-color: var(--Bloosm);
            border: none;
            font-weight: 550;
            font-size: 1.8rem;
            letter-spacing: -0.035em;
            color: var(--light);
            cursor: pointer;
        }
        
        button:hover{
            background-color: #ff9011;
        }
    }
    #wrk-right{
        width: 70%;
        display: flex;
        justify-content: end;
        z-index: -1;
        background: url('../img/sec/work.jpg') center center;
        background-size: cover;
    }
}
#number{
    position: absolute;
    bottom: 2rem;
    right: 6rem;
    font-weight: bold;
    font-size: 20rem;
}
a{
    text-decoration: none;
    color: var(--light);
}